body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("E:\Study\redux-app\redux-app\src\bg.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.productsContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
}
.card {
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  width: 250px;
  height: 470px;
  overflow: hidden;
  border-radius: 10px;
  color: black;
  font-weight: 500;
}

.card:hover {
  border: 2px solid black;
  opacity: 100%;
}
.card-img-top {
  margin-top: 5px;
  width: 200px;
  height: 300px;
}
.card-body {
 
  max-width: 300px;
  
}

h1, h2 , h3 {
  color: white;
}

.productDescription{
  margin: 0  auto;
  background-color: whitesmoke;
  border-radius: 5px black solid round;
  width : 500px;
}

.productDescription:hover{
  transform: scale(1.2); 
}

.productImage{
  margin-top: 5px;
  width: 300px;
  height: 400px;
}

.productImage:hover
{
  opacity: 100%;
  transform: scale(1.2);
}

.cartBtn{
  margin-right: 10px;
}
